<h2>About</h2>

<p>Description of the Task Manager</p>
<p>Created by <%= @created_by %></p>
<%=
  link_to('Back to Home page', {controller: 'main', action: 'index'})
%><br />

ID: <%= @id %> <br />
Page: <%= @page %><br />