<%= link_to('Back to Available Category List', categories_path, class: 'back-link') %><br />
<div class="categories edit">
  <h1>Edit Category</h1>

  <%= form_for(@category) do |ct| %>
    <% #url: category_path(@category), method: 'patch' %>

    <!--    take the value of tk here and pass it to local variable tk in partial-->
    <%= render(partial: 'form2', locals: {ct: ct}) %>

    <div class="form-buttons">
      <%= ct.submit("Edit Category") %>
    </div>
  <% end %>

</div>
